footer
  ul.footer-nav.footer-nav-2tabs
    li(class="#{footer.in_register?'active':''}")
      a(ng-click="go_to_register()") 报名
    li(class="#{!footer.in_register?'active':''}")
      a(ng-click="go_to_bid()") 竞价