footer(ng-show="#{footer.show}")
  .footer-nav.footer-result
    p 
      span {{result.warn || "竞价结果："}}
      span {{result.name}}&nbsp;
      span {{result.price | currency:"¥"}}&nbsp;
      span {{result.phone}}