header.header
  label.nav-title 活动报名
    span {{member_count}}	
  button(ng-click="back_to_home()").button.button-rounded.button-highlight.header-left 返回
  button(class="button button-rounded {{red_or_green}} header-right",ng-click="alter_activity_status()",ng-disabled="can_not_start") {{start_or_stop}}

div#detail_scope.container.content
  ul.list-group.bg-huise
    li(ng-repeat="message in message_list | orderBy:'-name'").list-group-item {{message.name}}
      span.pull-right {{message.phone}}

div.container
  button.btn.btn-primary.pull-center 报名
  span
  button.btn.btn-primary.pull-center 竞价