include ./components/header.jade

#register.content
  .container
    ul.list-group.bg-huise
      li.list-group-item(ng-repeat="member in member_list | orderBy:'-name'") {{member.name}}
        span.pull-right {{member.phone}}

include ./components/footer_tabs.jade

