header.header
  label.nav-title 活动报名
    span {{count_of_members}}	
  button.button.button-rounded.button-highlight.header-left-trotyl(ng-click="back_to_home()") 返回
  button(class="button button-rounded {{style_of_button}} header-right-trotyl",ng-click="alter_status()",ng-disabled="no_start") {{next_status}}

#register.content
  .container
    ul.list-group.bg-huise
      li.list-group-item(ng-repeat="member in member_list | orderBy:'-name'") {{member.name}}
        span.pull-right {{member.phone}}

footer
  ul.footer-nav.footer-nav-2tabs
    li.active
      a(ng-click="navigate_to_register()") 报名
    li
      a(ng-click="navigate_to_bid()") 竞价
