<div class="header">
  <ul class="nav nav-pills pull-left">
    <li class=""><a class="btn btn-warning" ng-click="back_to_home()">返回</a></li>
  </ul>
  <ul class="nav nav-pills pull-right">
    <li class=""><a class="btn btn-success" ng-click="alter_activity_status()" ng-disabled="can_not_start">{{start_or_stop}}</a></li>

  </ul>
  <h3 class="text-muted" align="center">活动报名</h3>
</div>

<div>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="message in message_list">{{message.name}}
		<span>{{blank_space(message.name)}}</span>
		{{message.phone}}</li>
	</ul>
	
</div>

<div class="container">
  <button class="btn btn-primary btn-block">报名</button>  
  <button class="btn btn-primary btn-block">竞价</button>
</div>
