<header class="header">
    <label class="nav-title">活动列表</label>
    <button class="button button-rounded button-highlight header-right" ng-click="activity_create()">创建活动</button>
</header>

<div class="container content">
  <div ng-repeat="activity in activities | orderBy:'-createdAt'" class="list-button">
    <button ng-click="show_activity_detail(activity.name)" class="button glow button-rounded btn-block button-large {{check_in_progress(activity.status)}}">{{activity.name}}</button>
  </div>

  <label>{{warn_info}}</label>
</div>
