<div class="header">
  <ul class="nav nav-pills pull-left">
    <li class=""><a class="btn btn-warning" ng-href="#">返回</a></li>
<!--     <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#">Contact</a></li> -->
  </ul>
  <ul class="nav nav-pills pull-right">
    <li class=""><a class="btn btn-success" ng-href="#">开始</a></li>
<!--     <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#">Contact</a></li> -->
  </ul>
  <h3 class="text-muted" align="center">活动报名</h3>
</div>

<!-- <div class="container" align="center">
  <h4>请输入活动名称</h4>
 --><!--   <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
 --> 
<!--   <input type='text' name='actv_name' id='actv_name'/> 

  <p></p>
  <p><a class="btn btn-lg btn-success" ng-click="ActvCreateClick()">点我创建<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
 -->


<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>

  <h4>Trotyl</h4>
  <p>One Two Three Four Five Six Seven Eight Night Ten Eleven Twelve.</p>
</div>
 -->