include ./components/header.jade

.container.content
  .list-button(ng-repeat="activity in activity_list | orderBy:'-createdAt'")
    button(ng-click="go_to_detail(activity)",class="button glow button-rounded btn-block button-large {{check_status(activity.register, activity.bid)}}") {{activity.name}}
