header.header
  label.nav-title 活动报名
    span {{member_list.length | count}}	
  a.button.button-rounded.button-highlight.leftside(back='')
  button(ng-class='status | switchCss',ng-click="alter_status()",ng-disabled='no_start') {{status | switch}}

#register.content
  .container
    ul.list-group.bg-huise
      li.list-group-item(ng-repeat="member in member_list | orderBy:'-name'") {{member.name}}
        span.pull-right {{member.phone}}

include ./components/footer_tabs.jade

