include ./components/header.jade

#bid.content
  .container
    ul.list-group.bg-huise
      li.list-group-item(ng-repeat="record in record_list | orderBy:'+index'") 
        table(cellspacing="10",cellpadding="10")
          tr
            td(rowspan="2") {{record.index + ".&nbsp;&nbsp;&nbsp;&nbsp;"}}
            td {{record.name}}
          tr
            td {{record.phone}}

