header.header
  label.nav-title 竞价列表
  button.button.button-rounded.button-action.rightside(ng-click="start_bid()",ng-disabled="no_start") 开始
  a.button.button-rounded.button-highlight.leftside(back='')

.container.content
  .list-button(ng-repeat="bid in bid_list | orderBy:'-name'")
    button(ng-click="go_to_detail($index)",ng-class='bid | yello') {{bid.name}}

include ./components/footer_tabs.jade
