include ./components/header.jade

.content
  .container
    ul.list-group
      li.list-group-item(ng-repeat="record in record_list | orderBy:'+price'") {{record.price | currency:"¥"}}
        span.pull-right {{record.count}}

include ./components/footer_result.jade
