header.header
  label.nav-title 竞价
    span {{number_of_bid}}
    span {{record_list.length | count}}
  a.button.button-rounded.button-highlight.leftside(back='{{this_activity.name}}')
  button.button.button-rounded.button-action.rightside(ng-click="end_bid()",ng-disabled="no_stop") 结束

#bid.content
  .container
    ul.list-group.bg-huise
      li.list-group-item(ng-repeat="record in record_list | orderBy:'+index'") 
        table(cellspacing="10",cellpadding="10")
          tr
            td(rowspan="2") {{record.index + ".&nbsp;&nbsp;&nbsp;&nbsp;"}}
            td {{record.name}}
          tr
            td {{record.phone}}

