header.header
  label.nav-title 竞价列表
  button(ng-click="start_bid()",ng-disabled="cannot_start").button.button-rounded.button-action.header-right-trotyl 开始
  button(ng-click="back_to_home()").button.button-rounded.button-highlight.header-left-trotyl 返回

div.container.content
  div(ng-repeat="bid in bid_list | orderBy:'-name'").list-button
    button(ng-click="show_bid_detail($index)",class="button glow button-rounded btn-block button-large {{check_in_progress($index)}}") {{bid.name}}

footer
  ul.footer-nav.footer-nav-2tabs
    li
      a(ng-click="navigate_to_register()") 报名
    li.active
      a(ng-click="navigate_to_bid()") 竞价