//- header.header
//-   label.nav-title 竞价
//-     span {{number_of_bid}}
//-     span {{count_of_records}} 
//-   button.button.button-rounded.button-highlight.header-left-trotyl(ng-click="go_to_list()") 返回
//-   button.button.button-rounded.button-action.header-right-trotyl(ng-click="end_bid()",ng-disabled="no_stop") 结束

include ./components/header.jade

#bid.content
  .container
    ul.list-group.bg-huise
      li.list-group-item(ng-repeat="record in record_list | orderBy:'+index'") 
        table(cellspacing="10",cellpadding="10")
          tr
            td(rowspan="2") {{record.index + ".&nbsp;&nbsp;&nbsp;&nbsp;"}}
            td {{record.name}}
          tr
            td {{record.phone}}

