header.header
  label.nav-title 竞价
    span {{number_of_bid}}
    span {{count_of_records}} 
  button.button.button-rounded.button-highlight.header-left-trotyl(ng-click="go_to_bid()") 返回
  button.button.button-rounded.button-action.header-right-trotyl(ng-click="go_to_result()") 列表

.content
  .container
    ul.list-group
      li.list-group-item(ng-repeat="record in record_list | orderBy:'+price'") {{record.price | currency:"¥"}}
        span.pull-right {{record.count}}

footer
  .footer-nav.footer-result
    p 
      span {{result.warn || "竞价结果："}}
      span {{result.name}}&nbsp;
      span {{result.price | currency:"¥"}}&nbsp;
      span {{result.phone}}