include ./components/header.jade

.container.content
  .list-button(ng-repeat="bid in bid_list | orderBy:'-name'")
    button(ng-click="go_to_detail($index)",class="button glow button-rounded btn-block button-large {{check_status($index)}}") {{bid.name}}

include ./components/footer_tabs.jade
