header.header
  label.nav-title 竞价
    span {{number_of_bid}}
    span {{count_of_records}} 
  button.button.button-rounded.button-highlight.header-left-trotyl(ng-click="back_to_bid()") 返回
  button.button.button-rounded.button-action.header-right-trotyl(ng-click="navigate_to_stats()") 统计

.content
  .container
    ul.list-group
      li.list-group-item(ng-repeat="record in record_list | orderBy:'+price'") 
        span.pull-right.vertical-middle {{record.price | currency:"¥"}}
        table(cellspacing="10",cellpadding="10")
          tr
            td(rowspan="2") {{($index + 1).toString() + ".&nbsp;&nbsp;&nbsp;&nbsp;"}}
            td {{record.name}}
          tr
            td {{record.phone}}


footer(ng-show="is_modal_over")
  .footer-nav.footer-result
    p 
      span {{result.warn || "竞价结果："}}
      span {{result.name}}&nbsp;
      span {{result.price | currency:"¥"}}&nbsp;
      span {{result.phone}}

#myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",ng-click="manual_close()")
          span(aria-hidden="true") &times;
          span.sr-only
        //h4#myModalLabel.modal-title
      .modal-body
        p {{result.name}} 
          span.pull-right {{result.price | currency:"¥"}}
        p {{result.phone}}
        p {{result.warn || "竞价成功！"}}


