include ./components/header.jade

.content
  .container
    ul.list-group
      li.list-group-item(ng-repeat="record in record_list | orderBy:'+price'") 
        span.pull-right.vertical-middle {{record.price | currency:"¥"}}
        table(cellspacing="10",cellpadding="10")
          tr
            td(rowspan="2") {{($index + 1).toString() + ".&nbsp;&nbsp;&nbsp;&nbsp;"}}
            td {{record.name}}
          tr
            td {{record.phone}}

include ./components/footer_result.jade

#myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.pull-right.close(type="button",data-dismiss="modal",ng-click="modal_close()")
          span(aria-hidden="true") &times;
          span.sr-only
      .modal-body
        p {{result.name}} 
          span.pull-right {{result.price | currency:"¥"}}
        p {{result.phone}}
        p {{result.warn || "竞价成功！"}}


