<header class="header">
    <label class="nav-title">创建活动</label>
    <button class="button button-rounded button-highlight header-left" ng-click="back_to_home()" ng-show="back_show">返回</button>
</header>

<div class="container content">
  <form role="form">
    <div class="form-group">
      <label for="exampleInputEmail1">活动名称：</label>
      <input type="text" class="form-control" ng-model="input_activity_name" placeholder="如：活动一">
    </div>

  <button class="button btn-block button-rounded button-primary button-large" ng-disabled='name_is_empty' ng-click="activity_create()">创建</button>
  </form>
  <label class="pull-center"><font color="#FF0000">{{warn_info}}</font></label>
</div>

