<div class="header">
  <ul class="nav nav-pills pull-left">
    <li class=""><a class="btn btn-warning" ng-show="back_show" ng-click="back_to_home()">返回</a></li>
  </ul>
  <h3 class="text-muted" align="right">创建活动</h3>
</div>


<p></p>
<div class="container">
  <form role="form">
    <div class="form-group">
      <label for="exampleInputEmail1">活动名称：</label>
      <input type="text" class="form-control" ng-model="input_activity_name" placeholder="如：活动一">
    </div>

  <button class="btn btn-block btn-primary" ng-disabled='name_is_empty' ng-click="activity_create()">创建</button>
  </form>
  <p></p>
  <label class="pull-center">{{warn_info}}</label>
</div>

